node_modules
package-lock.json
yarn.lock

.DS_Store
.cache
.env
.vercel
.output
/build/
/dist/
/api/
/server/build
/public/build# Sentry Config File
.env.sentry-build-plugin
/test-results/
e2e/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/data/*
!data/.gitkeep
.vscode/
.pnpm-store/
.tanstack/